// Override this file to add your own SCSS styling.
/* Headings */


/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $sta-font-heading, sans-serif;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;

  /* Ensure long words do not overflow into content. */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  /* Add a hyphen where the word breaks (use `&shy;` to insert a soft-hyphen in a word). */
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

h1 {
  font-size: 1rem;
  font-weight: 700;
}
h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
h3 {
  font-weight: 500;
  margin-top: 1.5rem;
  font-size: 1rem;
}
h4, h5, h6 {
  font-weight: 500;
  margin-top: 1rem;
  font-size: 1rem;
}

body {
    font-size: 0.7rem;
    font-family: Helvetica Nueue, sans-serif;
    font-size: 1rem;
}
.navbar-brand {
    font-size: 1rem;
}
.portrait-title {
    font-size: .7rem;
}
p {
    font-family: Helvetica Nueue, sans-serif;
    font-size: 1rem;
}

.media.stream-item .article-title, .card-simple .article-title {
  font-size: 1rem;
}

.site-title {
  font-size: 1.25rem;
}
.page-title {
  font-size: .7rem;
  color: rgba(0,0,0,.54);
  margin-bottom: 1rem;
}

.page-subtitle {
  font-size: .5rem;
  color: rgba(0,0,0,.54);
  margin-bottom: 1rem;
}
.pub-row-heading {
  font-size: 0.5rem;
  font-weight: bold;
}

.article-title {
  font-size: .5rem;
}
.article-header-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-size: .5rem;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.65;
  border-radius: 5px 0 0 0;
}
